.icon-email {
  max-height: 30px;
  max-width: 40px;
}

.age-container {
  border-radius: 50%;
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
