.skill {
  width: 150px;
}

.card {
  text-align: center;
  align-items: center;
  width: 100%;
}

.card p {
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.skill-card {
  position: relative;
}

.skill-logo {
  position: absolute;
  top: 0;
  opacity: 0;
  padding: 5px 0 2px 0;
  background-color: white;
  transition: 0.3s all;
}

.skill-logo img {
  height: 28px;
}

@media only screen and (min-width: 1024px) {
  .skill-logo img {
    height: 40px;
  }
}
